@{
    ViewBag.Title = "HOME";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<center>
    <div class="container">
        <p>
            This is a sample project illustrating how HTML and HTTP work together. It's developed as a part of the ASP.NET MVC course in Plovdiv University
        </p>
    </div>
</center>

